@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: 20px;
    border: 1px solid red;
}

ul, ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    vertical-align: top;
}

html {
    scroll-behavior: smooth;
}

.btn {
    width: 140px;
    height: 50px;
    background-color: #D97652;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    color: #FFF;
    box-sizing: border-box;
}

header {
    height: 900px;
    background-color: #F2E9D8;
    font-family: 'Pretendard-Regular';
}

.header-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 110px;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header {
    height: 800px;
    background: url("../img/img-heading.png") no-repeat top right;
    background-size: 415px 890px;
    background-position-y: 2em;
    margin: 0 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

#header-title {
    font-size: 48px;
    line-height: 60px;
    font-weight: 700;
}

#header-content {
    font-size: 16px;
    line-height: 20px;
}

#main-intro {
    display: flex;
    align-items: center;
    gap: 110px;
    justify-content: space-around;
    margin: 80px 320px 120px;
}

#main-intro img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px 0 #00000040;
    object-fit: cover;
}

.text-content h2 {
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 30px;
}

.text-content p {
    font-size: 16px;
    line-height: 20px;
}