/* 공통 스타일 정의 */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip-path: inset(50%);
    border: 0;
    clip: rect(0 0 0 0);
}

.font-regular {
    font-family: 'Pretendard-Regular', sans-serif;
}

.centered-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.gap-small {
    gap: 1.125em; /* 18px */
}

.gap-medium {
    gap: 2.25em; /* 36px */
}

.gap-large {
    gap: 6.875em; /* 110px */
}

.width-1280 {
    max-width: 1280px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-large {
    font-size: 36px;
}

.font-medium {
    font-size: 24px;
}

.font-small {
    font-size: 14px;
}

.font-xsmall {
    font-size: 12px;
}

.font-bold {
    font-weight: 700;
}

.font-default {
    font-weight: 400;
}

.line-height-normal {
    line-height: normal;
}

.line-height-small {
    line-height: 1.5;
}

.width-full {
    width: 100%;
}

.width-large {
    width: 66.67vw; /* 1080px */
}

.height-large {
    height: 340px;
}

.bg-cover {
    background-size: cover;
}

.bg-contain {
    background-size: contain;
}

.bg-center {
    background-position: center;
}

.border-radius-large {
    border-radius: 30px;
}

.border-radius-extra-large {
    border-radius: 60px;
}

.box-shadow {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

.btn {
    width: 140px;
    height: 50px;
    background-color: #D97652;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    color: #FFF;
    box-sizing: border-box;
}

.color-orange {
    color: #D97652;
}

/* Font Face */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* 20px => 1.5 */
    box-sizing: border-box;
}

html {
    font-family: 'Pretendard-Regular', sans-serif;
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    display: inline-block;
    line-height: normal;
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    vertical-align: top;
}

/* Header */
header {
    height: 900px;
    background-color: #F2E9D8;
}

/* Navigation */
.nav-container {
    background-color: #F2E9D8;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    gap: 6.875rem; /* 110px */
    z-index: 2;
}

.nav-container h1 a {
    display: flex;
    justify-content: center;
}

.nav-container h1 a img {
    align-items: center;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 1.875rem; /* 30px */
}

#headerTop {
    overflow: hidden;
}

/* Header */
#header {
    max-width: 1280px;
    height: 800px;
    background: url("../img/img-heading.png") no-repeat top right;
    background-size: 415px 890px;
    background-position-y: 2em;
    margin: 0 auto; /* 16.67vw is approximate for the original margin of 280px */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2.5em; /* 40px */
}

#header-title {
    font-size: 48px;
    font-weight: 700;
}

#header-content {
    font-size: 16px;
}

#burger-menu {
    display: none;
}

/* Main */

/* Main Intro */
#main-intro {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 6.875em; /* 110px */
    /*justify-content: space-around;*/
    padding: 29.63vh 0; /* 80px, 120px */
}

#main-intro img {
    width: 34.4vw;
    height: 36.1vh;
    border-radius: 30px;
    object-fit: cover;
}

.text-content h2 {
    font-size: 36px;
    margin-bottom: 2.78vh; /* 30px */
}

.text-content p {
    font-size: 16px;
}

/* Main Gallery */
#gallery-heading {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #D97652;
}

#gallery-content {
    margin-top: 3.7vh; /* 40px */
    margin-bottom: 8.15vh;
    font-size: 16px;
    text-align: center;
}

#main-gallery span {
    color: #D97652;
}

#gallery-pics {
    max-width: 1280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 9.26vh;
}

#gallery-pics ul {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#gallery-pics li {
    width: 378px;
    height: 378px;
    margin: 24px;
}

#gallery-pics img {
    width: 378px;
    height: 378px;
    border-radius: 30px;
    object-fit: cover;
}

#gallery-more {
    margin: 0 16.67vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75em; /* 28px */
}

#gallery-more p {
    font-weight: 700;
    font-size: 24px;
}

hr {
    text-align: center;
    margin: 7.41vh auto 3.5vw; /* 80px, 68px */
    width: 80vw; /* 1280px */
    color: #C4C4C4;
}

/* Main Map */
#main-map {
    margin: 0 16.67vw; /* 16.67vw is approximate for the original margin of 280px */
    display: flex;
    flex-direction: column;
    gap: 1.25em; /* 20px */
}

#main-map h2 {
    font-weight: 700;
    font-size: 36px;
}

#main-map address {
    font-style: normal;
    color: #606367;
    font-weight: 500;
    font-size: 16px;
}

#map-img {
    background: url("../img/map.png") no-repeat center;
    width: 66.67vw;
    height: 48.15vh;
    background-size: contain;
    border-radius: 12px;
}

/* Subscribe Box */
#subscribe-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 7.5vh auto 0; /* 81px, 16.67vw, 0 */
    padding: 4.6vh 3vw;
    background: #263140;
    border-radius: 30px;
    gap: 1.125em; /* 18px */
    z-index: 1;
    position: relative;
    max-width: 1280px;
}

#main-subscribe {
    color: #fff;
}

#main-subscribe h3 {
    font-size: 36px;
    margin-bottom: 1.67vh; /* 18px */
}

#main-subscribe p {
    font-size: 14px;
    color: #F2E9D8;
}

#main-subscribe-input {
    display: flex;
    position: relative;
    width: 530px;
}

#main-subscribe-input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 28px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background: url("../img/ico-mail.png") no-repeat;
}

#input-email {
    width: 100%;
    padding: 20px 160px 20px 60px;
    border-radius: 60px;
}

#main-subscribe-input button {
    position: absolute;
    top: 9.5%;
    right: 1%;
}

/* Footer */
#footer-bg {
    background: url("../img/img-1-0.jpg") no-repeat;
    background-size: cover;
    filter: opacity(0.6);
    background-position-y: 40%;
    width: 100%;
    height: 340px;
    margin-top: -100px;
    z-index: -3;
}

#footer-content {
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#footer-content ul {
    display: flex;
    gap: 1.25em; /* 20px */
}

#footer-links {
    display: none;
}

#footer-logo {
    width: 226px;
    height: 70px;
}

#goTopBtn {
    position: sticky;
    width: 50px;
    height: 50px;
    left: 95%;
    top: 91vh;
    z-index: 2;
}

#footer-sns {
    margin: 20px 24px;
}

#footer-sns img {
    width: 42px;
    height: 42px;
}

/* Modal Window */
#modal-window {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: url("../img/modal-bg.png") no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
    gap: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

#modal-cat-ico {
    background: url("../img/modal-cat.png") no-repeat;
    background-size: cover;
    width: 5.8vw; /* 110px */
    height: 10.37vh; /* 112px */
    margin-bottom: 0.6vw; /* 12px */
}

#modal-window h2 {
    font-size: 48px;
    font-weight: 700;
    color: #D97652;
}

#modal-window p {
    font-size: 14px;
    margin-bottom: 2.41vh; /* 26px */
}

#modal-window button {
    width: 183px;
}

/* Media Queries */
@media (max-width: 1024px) {
    .btn {
        width: 114px;
        height: 40px;
    }

    #burger-menu {
        display: block;
        background: transparent;
    }

    #footer-bg {
        height: 240px;
        background-position-y: 20%;
    }

    #gallery-more {
        margin: 0 32px;
    }

    #nav-menu {
        display: none;
    }

    #nav-links {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 50px;
        gap: 30px;
        font-weight: 700;
    }

    #nav-links .btn {
        margin-top: 20px;
    }

    #main-intro {
        padding: 0;
    }

    #headerTop {
        height: 802px;
    }

    #goTopBtn {
        display: none;
    }

    #header {
        margin: 0 15px;
        align-items: center;
        justify-content: center;
        background-size: 197px 422px;
        background-position: 50% 90%;
        gap: 30px;
        padding-bottom: 390px;
    }

    #header-title {
        font-size: 24px;
        line-height: 30px;
        text-align: center;
    }

    #header-content {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    #main-intro {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 40px;
        gap: 20px;
    }

    #main-intro img {
        width: 326px;
        height: 190px;
    }

    .text-content h2 {
        font-size: 24px;
        line-height: 30px;
        padding: 20px 0;
    }

    .text-content p {
        font-size: 14px;
        line-height: 18px;
    }

    #main-gallery {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    #gallery-heading {
        font-size: 24px;
        line-height: 30px;
    }

    #gallery-content {
        font-size: 16px;
        line-height: 20px;
        font-weight: 400;
        margin: 0;
        padding: 30px 32px;
    }

    #gallery-pics {
        margin: auto;
    }

    #gallery-pics ul {
        gap: 32px;
    }

    #gallery-pics li {
        width: 326px;
        height: 326px;
        margin: 16px;
    }

    #gallery-pics img {
        width: 326px;
        height: 326px;
        object-fit: cover;
    }

    #gallery-more {
        gap: 28px;
    }

    hr {
        margin: 60px auto 40px;
        width: auto;
    }

    #main-map {
        margin: 0 32px;
    }

    #main-map h2 {
        font-size: 24px;
        line-height: 30px;
        padding-bottom: 16px;
    }

    #main-map address {
        padding-bottom: 28px;
    }

    #map-img {
        width: 326px;
        height: 132px;
        margin-bottom: 40px;
    }

    #subscribe-box {
        justify-content: space-evenly;
        align-items: flex-start;
        height: 368px;
        margin: 0 32px;
        padding: 32px 36px;
    }

    #main-subscribe-input {
        flex-direction: column;
        align-items: stretch;
        display: block;
    }

    #main-subscribe-input button {
        display: block;
        top: 50px;
        right: 0;
    }

    #main-subscribe h3 {
        font-size: 24px;
        line-height: 30px;
    }

    #main-subscribe p {
        margin-top: 30px;
    }

    #main-subscribe-input::before {
        width: 18px;
        height: 18px;
        background-size: cover;
        left: 20px;
        top: 25%;
    }

    #input-email {
        padding: 12px 12px 12px 40px;
        font-size: 12px;
        margin-bottom: 40px;
    }

    #footer-links {
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
    }

    #footer-links ul {
        flex-direction: column;
        text-align: right;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        color: #767676;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        gap: 16px;
        height: 178px;
        margin-right: 14px;
    }

    #footer-content {
        height: 178px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
    }

    #footer-logo {
        width: 112px;
        height: 34px;
        margin: 30px 120px 37px 20px;
    }

    #footer-sns {
        margin: 20px 25px;
        padding-right: 35px;
    }

    #footer-sns img {
        width: 32px;
        height: 32px;
    }

    #goTopBtn {
        left: 82vw;
        z-index: 2;
        display: none;
    }

    #modal-window {
        width: 300px;
        height: 300px;
        background-size: contain;
        background-color: #F2E9D8;
    }

    #modal-cat-ico {
        width: 60px;
        height: 62px;
    }

    #modal-window h2 {
        font-size: 24px;
        line-height: 30px;
    }

    #modal-window p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    #map-img {
        border-radius: 12px;
    }
}