@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1.5; /* 20px => 1.5 */
    box-sizing: border-box;
}

html {
    font-family: 'Pretendard-Regular';
    scroll-behavior: smooth;
}

ul, ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    border: 1px solid red;
}

button {
    border: none;
    cursor: pointer;
}

img {
    width: 100%;
    vertical-align: top;
}

header {
    height: 900px;
    background-color: #F2E9D8;
}

.btn {
    width: 140px;
    height: 50px;
    background-color: #D97652;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    font-weight: 700;
    align-items: center;
    color: #FFF;
    box-sizing: border-box;
}

.nav-menu {
    background-color: #F2E9D8;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    gap: 110px;
    z-index: 2;
}

nav > ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

#header {
    height: 800px;
    background: url("../img/img-heading.png") no-repeat top right;
    background-size: 415px 890px;
    background-position-y: 2em;
    margin: 0 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

#header-title {
    font-size: 48px;
    font-weight: 700;
}

#header-content {
    font-size: 16px;
}

#main-intro {
    display: flex;
    align-items: center;
    gap: 110px;
    justify-content: space-around;
    margin: 80px 320px 120px;
}

#main-intro img {
    width: 660px;
    height: 390px;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
    object-fit: cover;
}

.text-content h2 {
    font-size: 36px;
    margin-bottom: 30px;
}

.text-content p {
    font-size: 16px;
}

#main-gallery #gallery-heading {
    font-weight: 700;
    font-size: 48px;
    text-align: center;
    color: #D97652;
}

#main-gallery #gallery-content {
    margin-top: 40px;
    font-size: 16px;
    text-align: center;
}

#main-gallery span {
    color: #D97652;
}

#gallery-pics ul {
    margin: 10vh 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 28vh;
}

#gallery-pics li {
    width: 19vw;
    height: 19vh;
}

#gallery-pics img {
    width: 100%;
    height: 200%;
    border-radius: 30px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.25);
}

#gallery-more {
    margin: 0 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

#gallery-more p {
    font-weight: 700;
    font-size: 24px;
}

hr {
    text-align: center;
    margin: 80px auto 68px;
    width: 1280px;
    color: #C4C4C4;
}

#main-map {
    margin: 0 320px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-map h2 {
    font-weight: 700;
    font-size: 36px;
}

#main-map address {
    font-style: normal;
    color: #606367;
    font-weight: 500;
    font-size: 16px;
}

#daumRoughmapContainer1724048741264 {
    margin-top: 28px;
    width: 100%;
    height: 520px;
    border-radius: 12px;
}

#subscribe-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 81px 320px 0;
    padding: 50px 58px;
    background: #263140;
    border-radius: 30px;
    gap: 18px;
    z-index: 3;
    position: relative;
}

#main-subscribe {
    color: #fff;
}

#main-subscribe h3 {
    font-size: 36px;
    margin-bottom: 18px;
}

#main-subscribe p {
    font-size: 14px;
    color: #F2E9D8;
}

#main-subscribe-input {
    display: flex;
    position: relative;
    width: 530px;
}

#main-subscribe-input::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 28px;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background: url("../img/ico-mail.png") no-repeat;
}

#main-subscribe-input input {
    width: 100%;
    padding: 20px 135px 20px 60px;
    border-radius: 60px;
}

#main-subscribe-input button {
    position: absolute;
    top: 10%;
    right: 1%;
}

#footer-bg {
    background: url("../img/img-1-0.jpg") no-repeat;
    background-size: cover;
    filter: opacity(0.6);
    background-position-y: 40%;
    width: 100%;
    height: 340px;
    margin-top: -100px;
    z-index: -3;
}

#footer-content {
    height: 160px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#footer-content ul {
    display: flex;
    gap: 20px;
}

#footer-content h2 a img {
    width: 226px;
    height: 70px;
}

#footer-content ul li a img {
    width: 42px;
}

#goTopBtn {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 5vh;
    left: 95vw;
}

#modal-window {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    background: url("../img/modal-bg.png") no-repeat;
    background-size: cover;
    width: 600px;
    height: 400px;
    gap: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

#modal-cat-ico {
    background: url("../img/modal-cat.png") no-repeat;
    background-size: cover;
    width: 110px;
    height: 112px;
    margin-bottom: 12px;
}

#modal-window h2 {
    font-size: 48px;
    font-weight: 700;
    color: #D97652;
}

#modal-window p {
    font-size: 14px;
    margin-bottom: 26px;
}

#modal-window button {
    width: 183px;
}
